* {
    margin: 0;
    padding: 0;
}
.list {
    width: 300px;
    height: 500px;
    background-color: aqua;
    padding: 30px;
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.list-item {
    background-color: gold;
    text-align: center;
    user-select: none;
    margin-bottom: 10px;
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.list-item[data-flip-key='4']{
    background-color: rgb(0, 255, 60);
}
.list-item[data-flip-key='3']{
    background-color: azure;
}
.list-item[data-flip-key='2']{
    background-color: black;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
}